DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_SERVER=YOUR_SERVER\SQLEXPRESS
DB_DATABASE=TextToSQL_App
DB_TIMEOUT=10
DB_TRUSTED_CONNECTION=yes

JWT_SECRET=super_secret_key_change_me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
